
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  /*mary er r er color  */
.text-primary{
    color: #FD6E0A;
}
/* portfolio hen ten er color */
.dark-2{
    color: #474747;
}

/* header */
.header{
    background-image: url('../images/developer.png') ,url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, right bottom;
}

/* Nav Styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 50px;
    padding-left: 100px;
}
.btn-primary{
    background-color: #FD6E0A;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    border: none;
}
.contact-button{
    background-color: #FFFFFF;
    border-color: #FD6E0A;
    color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    padding: 18px 35px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
}

/* Banner Styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 50px;
}
.banner-content{
    max-width: 585px;
    max-height: 356px;
    margin-left: 100px;
    /* padding: 136px 163px 184px 230px; */
    /* padding: 185px 146px 165px 71px; */
    /* padding: 295px 785px 185px 230px; */
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;

} 
.banner-title{
    font-size: 85px;
    font-weight: bold;
    padding-bottom: 0;
    padding-top: 0%;

}

.border-profile-pic{
   margin: 38px 0 25px 88px;
}